.container{
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
}

body{
    background-color: #faf3f4;
}

i{
  cursor: pointer;
}

.fa-user-plus{
  font-size: 50px;
  position: relative;
  padding-left: 10%;
  margin-top: 10%;
}
.fa-edit{
  border: 1px solid #17a2b8;
  border-radius: 40px;
  font-size: 16px;
  background-color: #17a2b8;
  color: white;
  padding: 11px 10px;
}
.fa-trash-alt{
  border: 1px solid #dc3545;
  border-radius: 40px;
  font-size: 16px;
  background-color: #dc3545;
  color: white;
  padding: 11px 12px;
}
@media screen and (max-width: 800px){
    .col-6.tabla {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 51%;
    }

    .fa-user-plus{
      font-size: 30px;
      position: relative;
      padding-left: 10%;
      margin-top: 2%;
    }
    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      width: 500px;
  }
  }

/*
border: 1px solid #007bff;
border-radius: 40px;
font-size: 25px;
background-color: #007bff;
color: white;
padding: 8px 10px;
position: fixed;
bottom: 20px;
right: 20px;*/